<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/addFileForm.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>HD Virtual ++</title>
    <script src="js/theme-switch.js" defer></script>
    <script src="js/add-form.js" defer></script>
</head>

<body class="dark-theme">
    <button id="toggle-theme" onclick="switchThemes()">
        <img src="/icons/lightbulb-on.svg" id="theme-icon" alt="Tema claro">
    </button>
    <h1>Adicionar um arquivo ou pasta em {{.PathName}}</h1>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="addpath" name="addpath" value="{{.PathDir}}">

        <div class="container">
            <label for="addtype">Tipo:</label>
            <select name="addtype" id="addtype" onchange="getOpts()" required>
                <option value="dir">Pasta</option>
                <option value="file">Arquivo</option>
            </select>
        </div>

        <div class="container" id="dir-opts">
            <label for="dirname">Nome:</label>
            <input id="dirname" name="dirname" type="text" placeholder="pasta">
        </div>

        <div class="container" id="file-opts" style="visibility: hidden;">
            <label for="filedata">
                <span class="material-icons">
                    upload
                </span>
            </label>
            <input type="file" name="filedata" id="filedata">
        </div>

        <button type="submit">Adicionar</button>
    </form>
</body>

</html>