<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/files.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>AnonDrive - Arquivos</title>
    <script src="/static/search.js" defer>
    </script>
    <script src="/static/theme-switch.js" defer></script>
</head>

<body class="dark-theme">
    <div class="search-box">
        <input class="search-text" type="text" placeholder="Pesquisar por ID ou nome...">
        <a class="search-btn" href="#">
            <span class="material-icons">
                search
            </span>
        </a>
    </div>

    <button id="toggle-theme" onclick="switchThemes()">
        <img src="/static/lightbulb-on.svg" id="theme-icon" alt="Tema claro">
    </button>

    {{.Mensage}}

    <table class="items" {{.FilesHidden}}>
        <tr class="headers">
            <th>ID do arquivo</th>
            <th>Nome do arquivo</th>
            <th></th>
        </tr>
        {{.Files}}
    </table>

    <div class="options">
        <a class="add-item-redir" href="/add/{{.Path}}">
            <span class="material-icons">
                add_circle_outline
            </span>
        </a>
        {{.OutPath}}
    </div>

</body>

</html>