<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/files.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>AnonDrive - Arquivos</title>
    <script src="/static/search.js" defer>
    </script>
    <script src="/static/theme-switch.js" defer></script>
</head>

<body class="dark-theme">
    <button id="toggle-theme" onclick="switchThemes()">
        <img src="/static/lightbulb-on.svg" id="theme-icon" alt="Tema claro">
    </button>

    {{.Mensage}}

    <a class="add-item-redir" href="/files/{{.Path}}">
        <span class="material-icons">
            arrow_back
        </span>
    </a>

</body>

</html>