<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/global.css">
    <link rel="stylesheet" href="/frontend/css/files.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>HD Virtual ++ - Arquivos</title>
    <script src="/frontend/js/search.js" defer>
    </script>
    <script src="/frontend/js/theme-switch.js" defer></script>
</head>

<body class="dark-theme">
    <div class="search-box">
        <input class="search-text" type="text" placeholder="Pesquisar nessa pasta...">
        <a class="search-btn" href="#">
            <span class="material-icons">
                search
            </span>
        </a>
    </div>

    <button id="toggle-theme" onclick="switchThemes()">
        <img src="/frontend/icons/lightbulb-on.svg" id="theme-icon" alt="Tema claro">
    </button>

    <div class="items">
        {{.Files}}
    </div>
</body>

</html>